/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: rgb(34, 86, 141);
}

input {
  color: black;
}

.link {
  letter-spacing: 0.1em;
  width: full;
  /* height: 1.5em; */
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
  margin: 0.5em;
  cursor: pointer;
}

.link {
  color: rgb(21, 23, 23);
}

.link :hover::before {
  transform: scale(7);
}
.link:hover {
  background-color: rgb(27, 72, 121);
}

/* class for   paymentUI */
.bgcolor {
  background: white;
}
.rectangle1 {
  background-color: rgb(45, 171, 186);
}
.login {
  background-color: #1383a6;
  backdrop-filter: blur(4px);
}
.login:hover {
  background-color: rgb(62, 181, 217);
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(37, 80, 129);
  border-radius: 10px;
}
